[Unit]
Description=PIA WireGuard VPN Service
After=network-online.target nss-lookup.target
Wants=network-online.target pia-wg-monitor.timer

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/pia.sh start
ExecStop=/usr/local/bin/pia.sh stop
User=root
Group=root

[Install]
WantedBy=multi-user.target
