[Unit]
Description=Timer for PIA WireGuard Connection Monitor
BindsTo=pia-wg-monitor.service
After=pia-wg.service

[Timer]
OnBootSec=5min
OnActiveSec=5min
OnUnitActiveSec=5min
Unit=pia-wg-monitor.service

[Install]
WantedBy=pia-wg.service
